@import './burger.css';

:root {
	/* Can be used with opacity (hsla) */
	--white-hsl-values: 0, 0%, 100%;
	--black-hsl-values: 0, 0%, 0%;
	--dark-brown-hsl-values: 14, 100%, 5%;
	--brown-hsl-values: 26, 29%, 40%;

	--white: hsl(var(--white-hsl-values));
	--black: hsl(var(--black-hsl-values));
	--dark-brown: hsl(var(--dark-brown-hsl-values));
	--brown: hsl(var(--brown-hsl-values));

	/* --liht-wood: hsl(36, 61%, 73%) => for later usage  */

	--squares: 100px;
}

::selection {
	background-color: var(--brown);
	color: var(--white);
}

h1 {
	font-family: 'Courier New', Courier, monospace;
	transition: all 1.5s cubic-bezier(0.75, -0.06, 0.06, 1.54);
}

h1:hover {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 3em;
	text-transform: uppercase;
	font-weight: bold;
	transform: rotate(-5deg);
	letter-spacing: 25px;
}

h1:hover::after {
	content: ' 🍔';
}

h2 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 2em;
}

body {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	text-align: center;
	margin: 0;
}

/* === CHECKERED BACKGROUND === */
div[data-background] {
	--degrees: 45deg;

	transition: all 6s ease-out;
	transform-origin: center;

	/* transfform origin

    inzoomen

    ander plek

    div erom heen
    daar hover

    ding erom heen blijft staan

    MENU met klikken burgers, 


    */

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: var(--white);
	background-image: linear-gradient(
			var(--degrees),
			var(--black) 25%,
			0%,
			transparent 75%,
			var(--black) 0%
		),
		linear-gradient(
			-45deg,
			var(--black) 25%,
			0%,
			transparent 75%,
			var(--black) 0%
		);
	background-size: var(--squares) var(--squares);

	z-index: -1;
}

div[data-background] > div {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: hsla(var(--black-hsl-values), 0.4);
	z-index: 2;
}

body > header {
	background-color: hsla(var(--black-hsl-values), 0.95);
	box-shadow: 0 15px 8px hsla(var(--black-hsl-values), 0.4);
	padding: 0.25em;
	border-radius: 0.5em;
	color: var(--white);
	position: fixed;
	width: 60%;
	top: 1%;
}

/* === MENU CARD === */
main {
	/* --wood-color: hsl(14, 100%, 5%); */
	/* --light-wood-color: hsl(36, 61%, 73%); */

	width: 210mm;
	background-color: var(--brown);
	background-image: url('../assets/wood-pattern.png');
	border-radius: 1em;
	box-shadow: 0 5px 6px hsla(var(--black-hsl-values), 0.4);

	padding-bottom: 2em;
	margin: 10em 0 5em 0;

	color: var(--white);
	/* color: var(--black); For later => dynamic based on checkbox user  */
}

/* === MENU SECTIOON === */
section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section header {
	background-color: hsla(var(--dark-brown-hsl-values), 0.8);
	width: 45%;
	margin: 2em;
	border-radius: 0.5em;
}

/* === SECTION SEPERATOR === */
hr {
	margin-top: 2em;
	border-top: 3px dotted hsla(var(--white-hsl-values), 0.5);
	border-bottom: none;
	width: 75%;
}

hr:hover {
	animation: rotateHr 8s forwards;
}

/* === MENU ITEM === */
article {
	width: 50%;
	/* transition: all 1.5s cubic-bezier(0.5, -2, 0.05, 4); xtreme */
	transition: all 0.5s ease-out;
	/* background-color: hsla(26, 29%, 30%, 0.98); */
	background-color: hsla(var(--brown-hsl-values), 0.98);
	cursor: help;
	margin: 0.5em;
	box-shadow: inset 0 0 1px 3px hsla(var(--dark-brown-hsl-values), 0.3);
}

/* Engraved text is not working yet */
article p,
article h3 {
	text-shadow: 0px 0.5px 0px var(--brown),
		0px -0.5px 0px hsla(var(--dark-brown-hsl-values), 0.4);
	color: var(--dark-brown);
}

article:hover {
	background-color: var(--dark-brown);
	box-shadow: 2px 5px 2px hsla(var(--dark-brown), 0.8);
	transform: rotateY(-180deg) scale(1.3);
	height: 12.5em;
}

article:active {
	transform: scale(1.4);
}

article:active h3::after {
	content: ' 🥳';
}

div > p {
	position: fixed;
	color: var(--white);
	font-size: 1.5em;
	left: 21%;
	top: 1%;
}

div > input {
	position: absolute;
	display: none;
}

div > input:checked + label {
	text-decoration: underline;
}

div > label {
	position: fixed;
	top: 5%;
	color: var(--white);
	font-size: 2em;
	margin: 0.5em;
}

div > label:hover {
	cursor: pointer;
}

/* SMALL */
div > label:nth-of-type(1) {
	left: 20%;
}

/* MEDIUM */
div > label:nth-of-type(2) {
	left: 25%;
}

/* BIG */
div > label:nth-of-type(3) {
	left: 32%;
}

#small:checked ~ div[data-background] {
	--squares: 50px;
}

#large:checked ~ div[data-background] {
	--squares: 200px;
}

/* === KEYFRAMES === */
@keyframes rotateHr {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(90deg);
	}
	65% {
		transform: rotate(90deg);
	}
	66% {
		transform: rotate(720deg);
	}
	75% {
		transform: rotate(180deg);
	}
	90% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(90deg);
	}
}
