:root {
	--pit-white: hsl(0, 0%, 100%);
	--cheese-yellow: hsl(50, 98%, 57%);
	--meat-brown: hsl(356, 54%, 26%);
	--pickle-green: hsl(78, 79%, 38%);
	--bread-orange: hsl(40, 91%, 57%);
	--ketchup-red: hsl(0, 79%, 48%);

	--top-pits-position: -160px;
	--bottom-pits-position: -135px;

	--bread-height: 55px;
	--burger-width: 380px;

	--offset-x-items: 10px;
}

div[data-burger-container] {
	height: 200px;
	width: var(--burger-width);
	margin: 2.5em 0;
	filter: drop-shadow(10px 5px 10px #000);
}

/* BURGER */
div[data-burger-container] > div {
	position: relative;
	width: var(--burger-width);
	height: 40px;
	border-radius: 15px;
	box-shadow: var(--offset-x-items) 50px var(--pickle-green),
		var(--offset-x-items) 85px var(--meat-brown),
		var(--offset-x-items) 120px var(--cheese-yellow);
	transition: all 0.2s;
	cursor: url('https://cdn.custom-cursor.com/db/pointer/32/Laser_Pointer.png'),
		auto;
}

/* BREAD */
div[data-burger-container] > div:before {
	content: '';
	color: var(--cheese-yellow);
	display: block;
	width: 400px;
	height: var(--bread-height);
	border-top: 80px solid var(--bread-orange);
	border-bottom: 50px solid var(--bread-orange);
	border-radius: 30% 30% 20% 20%;
}

/* PITS */
div[data-burger-container] > div:after {
	content: '';
	display: block;
	width: 10px;
	height: 6px;
	border-radius: 35%;
	box-shadow: 100px var(--top-pits-position) var(--pit-white),
		160px var(--top-pits-position) var(--pit-white),
		230px var(--top-pits-position) var(--pit-white),
		290px var(--top-pits-position) var(--pit-white),
		60px var(--bottom-pits-position) var(--pit-white),
		125px var(--bottom-pits-position) var(--pit-white),
		195px var(--bottom-pits-position) var(--pit-white),
		255px var(--bottom-pits-position) var(--pit-white),
		330px var(--bottom-pits-position) var(--pit-white);
}

/* INCREASE SIZE ON HOVER */
div[data-burger-container] > div:hover {
	--bread-height: 125px;
	--top-pits-position: -230px;
	--bottom-pits-position: -205px;

	box-shadow: var(--offset-x-items) 50px var(--pickle-green),
		var(--offset-x-items) 85px var(--meat-brown),
		var(--offset-x-items) 120px var(--cheese-yellow),
		var(--offset-x-items) 155px var(--meat-brown),
		var(--offset-x-items) 180px var(--ketchup-red);

	animation: hoverShuffle 1s infinite;
}

div[data-burger-container] > div:hover::before {
	border-radius: 25% 25% 20% 20%;
}

/* LASER */
div[data-burger-container] > div > div {
	position: absolute;
	background-color: red;
	clip-path: polygon(100% 0, 0% 0, 100% 1%, 0 100%);
	transition: clip-path 0.2s;
	width: 300px;
	height: 200px;
	opacity: 0;
	top: 0;
	left: 50px;
	transform: scale(2.5);
}

div[data-burger-container]:active > div > div {
	animation: lasersFired 0.2s forwards;
	opacity: 1;
}

div[data-burger-container]:active > div {
	--bread-orange: hsl(356, 61%, 18%);
}

div[data-burger-container]:active {
	transition: all 0.1s;
	transform: scale(0.9);
}
