/* CHECKERED BACKGROUND */
body > div:first-of-type > div {
    z-index: -1;
}

/* MENU CARD */
main {
    z-index: 1;
}

/* BACKGROUND OVERLAY */
body > div:first-of-type > div > div {
    z-index: 2;
}

/* MENU NAVIGATION */
main > ul {
    z-index: 2;
}

/* INPUT LABELS */
body > div:first-of-type > label {
    z-index: 2;
}

body > header {
    z-index: 2;
}
