body > header {
    box-shadow: 0 15px 8px hsla(var(--black-hsl-values), 0.4);
    padding: 0.25em;
    border-radius: 0.5em;
    color: var(--white);
    position: fixed;
    width: 60%;
    top: 1%;

    background: url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg) center
        no-repeat;
    background-size: cover;
    margin: 0;
    min-height: 180px;
}

@media only screen and (max-width: 800px) {
    body > header {
        width: 95%;
        top: 2.5%;
    }

    body > header > p {
        display: none;
    }
}

h1 {
    transition: all 0.2s ease-in;
}

h1:hover {
    transform: rotate(-3deg);
}
