:root {
    --pit-white: #ffffff;
    --cheese-yellow: #fddb28;
    --meat-brown: #681f24;
    --pickle-green: #82af15;
    --bread-orange: #f5b230;
}

.burger {
  width: 380px;
  height: 40px;
  border-radius: 15px; 
  box-shadow: 
    10px 50px var(--cheese-yellow), 
    10px 85px var(--meat-brown),
    10px 120px var(--pickle-green); 
}

.burger:before {
  content: "";
  white-space: pre;
  font-size: 120px;
  line-height: 22px;
  color: var(--cheese-yellow);
  display: block;
  width: 400px;
  height: 55px;
  border-top: 80px solid var(--bread-orange); 
  border-bottom: 50px solid var(--bread-orange); 
  border-radius: 30% 30% 20% 20%; 
}

.burger:after {
  content: "";
  display: block;
  width: 10px;
  height: 6px;
  border-radius: 40%;
  box-shadow: 
    100px -165px var(--pit-white),
    160px -165px var(--pit-white),
    230px -165px var(--pit-white),
    290px -165px var(--pit-white),

    60px -135px var(--pit-white),
    125px -135px var(--pit-white),
    195px -135px var(--pit-white),
    255px -135px var(--pit-white),
    330px -135px var(--pit-white);
}