::selection {
    background-color: blue;
    color: red;
}

:root {
    --white: hsl(0, 0%, 98%);
    --black: hsl(0, 0%, 8%);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    transition: all 1.5s cubic-bezier(.75,-0.06,.06,1.54);
}

h1:hover {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
    transform: rotate(-5deg);
    letter-spacing: 25px;
}

h1:hover::after {
    content: ' 🍔';
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    margin: 0;
}

div[data-background] {
    --chess-black: hsl(0, 0%, 10%);
    --chess-white: hsl(0, 0%, 98%);
    --squares: 100px;
    --degrees: 45deg;

    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;

    background-color: var(--chess-white);
    background-image: linear-gradient(var(--degrees), var(--chess-black) 25%, 0%, transparent 75%, var(--chess-black) 0%),
    linear-gradient(-45deg, var(--chess-black) 25%, 0%, transparent 75%, var(--chess-black) 0%);
    background-size: var(--squares) var(--squares);

    z-index: -1;
}

div[data-background] > div { 
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.4);
    z-index: 2;
}

body > header {
    background-color: rgba(20, 20, 20, 0.95);
    box-shadow: 0 15px 8px rgba(20, 20, 20, 0.4);
    padding: 0.25em;
    border-radius: 0.5em;
    color: var(--white);
    position: fixed;
    width: 55%;
    top: 1%;
}

main {
    --wood-color: hsl(14, 100%, 5%);
    --light-wood-color: hsl(36, 61%, 73%);

    width: 210mm;
    background-color: var(--wood-color);
    background-image: url('../assets/wood-pattern.png');
    border-radius: 1em;
    box-shadow: 0 5px 6px rgba(20, 20, 20, 0.4);

    padding-bottom: 2em;
    margin: 10em 0 5em 0;

    color: var(--white);
    /* color: var(--black); For later => dynamic based on checkbox user  */ 
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section header {
    background-color: rgba(26, 6, 0, 0.8);
    width: 45%;
    margin: 2em;
    border-radius: 0.5em;
}

hr {
    margin-top: 2em;
    border-top: 2px dotted var(--white);
    border-bottom: none;
    width: 75%;
}

hr:hover {
    transform: rotate(90deg);
}

article {
    border: 2px solid var(--black);
    width: 50%;
    transition: transform 2s cubic-bezier(0.5, -2, 0.05, 4);

    /*
    Reminder:
    
    Probeer een soort 'engraving' effect te creeeren.
    Article zit met een inset box shadow erin
    Lijkt net of het erin gegrafeerd is. Probeer zoiets.

    */

    background-color: hsla(15, 78%, 7%, 0.9);
    cursor: help;
    margin: 0.5em;
}

article:hover {
    transform: rotateY(-180deg) scale(1.75);
    width: 75%;
    height: 200px;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.25);
}

article:active {
    transform: scale(1.4);
}

article:active h3::after{
    content: ' 🥳';
}