/* The squares selection (for the background) */

/* INPUT CONTAINER */
body > div:first-of-type {
    width: 200px;
    position: fixed;
    left: 1%;
    top: 30%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* INPUT TEXT ON TOP */
body > div:first-of-type > p {
    position: absolute;
    top: 0;
    color: var(--white);
    font-size: 2em;
    font-weight: 700;
    width: 100%;
    text-shadow: -1px -1px 0 var(--black), 1px -1px 0 var(--black),
        -1px 1px 0 var(--black), 1px 1px 0 var(--black);
}

/* INPUT RADIO */
body > div:first-of-type > input {
    position: absolute;
    display: none;
}

/* INPUT LABELS */
body > div:first-of-type > label {
    text-align: center;
    color: var(--white);
    font-size: 2em;
    margin: 2px;
}

/* INPUT SELECTED LABEL */
body > div:first-of-type > input:checked + label {
    text-decoration: underline;
}

/* FIRST LABEL */
body > div:first-of-type > label:first-of-type {
    margin-top: 0.5em;
}

/* REMOVE ON SCREENS < 1100PX */
@media screen and (max-width: 1100px) {
    body > div:first-of-type > p,
    body > div:first-of-type > label,
    body > div:first-of-type > input {
        display: none;
    }
}

body > div:first-of-type > label:hover {
    cursor: pointer;
}

/* When small is selected */
#small:checked ~ div {
    --squares: 50px;
}

/* When large is selected */
#large:checked ~ div {
    --squares: 200px;
}
