
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 820px;
}

.parallax-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 8px;
  perspective-origin: 0%;
  display: flex;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(0px);
}

.background__image {
  width: 100%;
}

.foreground {
  margin-top: auto;
  margin-bottom: 50px;
  transform-origin: 0;
  transform: translateZ(3px) scale(0.625);
}

.foreground-two {
  margin-top: auto;
  margin-bottom: 50px;
  
  transform-origin: 0;
  transform: translateZ(1px) scale(0.625);
}

.foreground-three{
  margin-top: auto;
  margin-bottom: 50px;
  
  transform-origin: 0;
  transform: translateZ(4px) scale(0.425);
}
