 :root {
    --white: #fafafa;
    --black: #2d2d2d;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { 
    font-family: 'Nunito', sans-serif;
    height: 145vh;
    background-color: #64485C;
    overflow-x: hidden;
}

header {
    height: 7.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #adadad;
    grid-area: header;
    position: relative;
}

header > h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: var(--black);
    font-size: 3.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

section {
  width: 100vw;
  margin: 40px 0;
  perspective: 600px;
  display: grid;
  grid-column-gap: 3rem;
  grid-row-gap: 2rem; 
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-areas:
    "header header header header"
    "card card card card"
    "footer footer footer footer"; */
  justify-items: center;
  position: sticky;
  top: 0;
}

/*

grid-teamplate-areas:
    "header header header header"
    "card card card card"
    "footer footer footer footer"


*/

article {
  position: relative;
  width: 21rem;
  height: 21rem;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  /* grid-area: card; */
}

article:hover {
  transform: translateX(-100%) rotateY(-180deg);
}

article > div {
    display: flex;
    flex-direction: column;
}

article > div > h2 {
    position: absolute;
    top: -25%;
}

article > div > h3 {
    position: absolute;
    font-size: 32px;
    top: -10%;
}

article > div > p {
    font-size: 20px;
    line-height: 24px;
    max-width: 80%;
}

article > div > img {
    position: absolute;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    top: 45%;
}

div {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

div:first-child {
    background: #2e1114;
}

div:last-child, img {
    background: #501B1D;
    transform: rotateY(180deg);
}

circle {
    float: left;
    height: 200px;
    width: 200px;
    shape-outside: circle();
    /*clip-path: circle(); */
    background: linear-gradient(to top right, #FDB171, #FD987D);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

circle:hover {
    height: 400px;
    width: 400px;
    transition: 100s;
    font-size: 3rem;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 5rem;
    background: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer;
}

footer p {
    font-size: 2rem;
    color: #fff;
}

hgroup {
    display: flex;
    justify-content: center;
    padding-top: 20rem;
}