section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section header {
    background-color: hsla(var(--dark-brown-hsl-values), 0.8);
    width: 45%;
    margin: 2em;
    border-radius: 0.5em;
}

@media only screen and (max-width: 800px) {
    section header {
        width: 85%;
    }
}

@media only screen and (max-width: 400px) {
    section header {
        width: 95%;
    }
}

/* === SECTION SEPERATOR === */
hr {
    margin-top: 2em;
    border-top: 3px dotted hsla(var(--white-hsl-values), 0.5);
    border-bottom: none;
    width: 75%;
}

hr:hover {
    animation: rotateHr 8s forwards;
}

hr:first-of-type {
    margin-top: 0;
}

hr:first-of-type:hover {
    animation: none;
}
